<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
        <add key="Title" value="Himalaya Machinery - " />
   		<add key="sitename" value="Himalaya Machinery - " />
   	 	<add key="sitename1" value="Himalaya Machinery -" />
        <add key="CN" value="server=Mssql2005.wwhnetwork.net;uid=himalaya;database=tiger_himalaya;pwd=K64kj@GH;pooling=false;Min Pool Size=0;Max Pool Size=1;Connect Timeout=200;" />

        <add key="SMTPmailServer" value="smtp.gmail.com" />
        <add key="MailUserName" value="info.himalayamachine@gmail.com" />
        <add key="MailPassword" value="12IH@6D5EcMi#8" />
        

        <!-- Comment the SQL connection string and uncomment the two lines below for MySQL -->
        <!-- <add key="DatabaseString" value="DRIVER={MySQL ODBC 5.1 Driver};SERVER=YOUR_SERVER;DATABASE=YOUR_DATABASE;UID=YOUR_USERNAME;PASSWORD=YOUR_PASSWORD;OPTION=3;" /> -->
        <!-- <add key="DatabaseType" value="MySQL" /> -->
        
    </appSettings>
 <connectionStrings>
    <add name="MyConn" connectionString="server=Mssql2005.wwhnetwork.net;uid=himalaya;database=tiger_himalaya;pwd=K64kj@GH;pooling=false;Min Pool Size=0;Max Pool Size=1;Connect Timeout=200;" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
    <!--<customErrors mode="On" defaultRedirect="error.aspx">
      <error statusCode="403" redirect="error.aspx" />
      <error statusCode="404" redirect="error.aspx" />
    </customErrors>-->
		<pages validateRequest="false" maintainScrollPositionOnPostBack="true"></pages>
    </system.web>

    <system.webServer>
		<staticContent>
			<clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
		</staticContent>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
                <add value="index.php" />
                <add value="index.html" />
                <add value="home.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
