<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
        <add key="Title" value="Himalaya Machinery - "/>
   		<add key="sitename" value="Himalaya Machinery - "/>
   	 	<add key="sitename1" value="Himalaya Machinery -"/>
        <add key="CN" value="server=Mssql2005.wwhnetwork.net;uid=HIwir08USR;database=tiger_himalaya;pwd=4UQ$f6Git;pooling='true';Min Pool Size=50;Max Pool Size=600;Connect Timeout=5000;"/>

        <add key="SMTPmailServer" value="smtp.gmail.com" />
        <add key="MailUserName" value="tiger.authentication@gmail.com" />
        <add key="MailPassword" value="tigeradmin" />
        

        <!-- Comment the SQL connection string and uncomment the two lines below for MySQL -->
        <!-- <add key="DatabaseString" value="DRIVER={MySQL ODBC 5.1 Driver};SERVER=YOUR_SERVER;DATABASE=YOUR_DATABASE;UID=YOUR_USERNAME;PASSWORD=YOUR_PASSWORD;OPTION=3;" /> -->
        <!-- <add key="DatabaseType" value="MySQL" /> -->
        
    </appSettings>

	<system.web>
    <customErrors mode="On" defaultRedirect="error.aspx">
      <error statusCode="403" redirect="error.aspx" />
      <error statusCode="404" redirect="error.aspx" />
    </customErrors>
		<pages validateRequest="false" maintainScrollPositionOnPostBack="true"></pages>
    </system.web>

    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
                <add value="index.php" />
                <add value="index.html" />
                <add value="home.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
